// filepath: hinayon-imo/resources/sass/app.scss
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './home.scss';
@import './login.scss';
@import './navbar.scss';
@import './dashboard.scss';
@import './faculty.scss';
@import './student.scss';
@import './department.scss';
@import './course.scss';
@import './settings.scss';
@import './profile.scss';

// Global layout adjustments for fixed navbar
body {
  margin: 0;
  padding: 0;
}

// Add left margin to main content when navbar is present
.page-content {
  display: flex;
  min-height: 100vh;

  > div {
    display: flex;
    width: 100%;
    
    main {
      margin-left: 220px; // Match navbar width
      flex: 1;
      width: calc(100% - 220px);
    }
  }
}

@media (max-width: 900px) {
  .page-content > div main {
    margin-left: 100px; // Match mobile navbar width
    width: calc(100% - 100px);
  }
}